<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IParsingService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IParsingService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9001/ParsingService/ParsingService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParsingService"
        contract="ParserService.IParsingService" name="BasicHttpBinding_IParsingService" />
      <endpoint address="net.tcp://localhost:9002/ParsingService/ParsingService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IParsingService"
        contract="ParserService.IParsingService" name="NetTcpBinding_IParsingService">
        <identity>
          <servicePrincipalName value="host/P45V" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>